
target/
*.class
*.jar
*.war

.idea/
.vscode/
*.iml


*.log
*.tmp
*.bak

.mvn/
logs/


.env
*.db
*.sqlite


.DS_Store
Thumbs.db
*.swp
*.swo


infrastructure/MinIO/data/

infrastructure/**/data/
infrastructure/**/logs/

!**/src/main/**/application.properties
!**/src/main/**/application.yml
